<nav class="navbar navbar-dark animate__animated animate__fadeIn">
  <a class="navbar-bars wave" href="#"><i class="fas fa-bars"></i></a>
  <a class="navbar-title wave" href="/"><%= title %></a>
  
  <a class="search-title wave" href="#">
    <i class="fas fa-search"></i>
  </a>
</nav>